In [2]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [3]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [6]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-08-10,134.440002,133.190002,133.699997,134.100006,5812700.0,134.100006
2020-08-11,134.740005,132.789993,134.270004,133.229996,5329900.0,133.229996
2020-08-12,135.970001,133.699997,133.770004,135.460007,5920400.0,135.460007
2020-08-13,135.869995,134.929993,135.080002,135.779999,4989500.0,135.779999
2020-08-14,135.639999,134.550003,135.610001,135.100006,5845200.0,135.100006

In [8]:
type(PG)

pandas.core.frame.DataFrame

##Simple Rate of Return

In [12]:
PG['simple_return'] = (PG['Adj Close'] / PG['Adj Close'].shift(1)) - 1
print (PG['simple_return'])

Date
1995-01-03         NaN
1995-01-04   -0.008016
1995-01-05   -0.014141
1995-01-06    0.002049
1995-01-09   -0.004090
                ...
2020-08-10    0.004118
2020-08-11   -0.006488
2020-08-12    0.016738
2020-08-13    0.002362
2020-08-14   -0.005008
Name: simple_return, Length: 6451, dtype: float64

In [13]:
PG.head()

,High,Low,Open,Close,Volume,Adj Close,simple_return
Date,,,,,,,
1995-01-03,15.62500,15.43750,15.46875,15.59375,3318400.0,6.280613,NaN
1995-01-04,15.65625,15.31250,15.53125,15.46875,2218800.0,6.230266,-0.008016
1995-01-05,15.43750,15.21875,15.37500,15.25000,2319600.0,6.142162,-0.014141
1995-01-06,15.40625,15.15625,15.15625,15.28125,3438000.0,6.154748,0.002049
1995-01-09,15.40625,15.18750,15.34375,15.21875,1795200.0,6.129573,-0.004090